

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    background-color: rgb(200,200,200) !important;

}
html{

}

#manageGarden-template{

}
.sliders{
    width:100%;

}
.settings h4{
    float:left;
}
#weather{
    width:200px;
}
#zipcode{
    float:left;
    margin-right: 25px;
}
#scheduler{
}
#pumpoveride{

    width:90px;
}
#week{
    width:500px;
}
.day{
  margin:10px;
  margin-bottom: 10px;

}
.day input{
  padding:2px;
  border-radius: 5px;
  border:none;
  max-width:75px;
  text-align: center;
}
.day label{
  padding-left: 25px
}
.range{
  width:150px;
  float:right;
}
#from{
    width:75px;
}
#to{
    width:75px;

}

.dials{
    /*margin:0 auto;*/

}
.knobs{
  width:100%;
  margin: 0 auto;

}
.zone{
    min-width: 250px;

}
.info{

  width:100%;
    text-align: center;

}
#moistureHistory{
  margin-left: -50px;
}

   #isWatering{
    width:400px;
    height:200px;
    background-image: url(../img/sprinkler.png) ;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;

   }

   .roundabout-holder {
         list-style: none;
         padding: 0;
         margin: 0;
         height: 5em;
         width: 5em;
      }
      .roundabout-moveable-item {
         height: 4em;
         width: 4em;
         cursor: pointer;
         background-color: #ccc;
         border: 1px solid #999;
      }
      .roundabout-in-focus {
         cursor: auto;
      }
.center{
    margin:0 auto;
    /*width:100%;*/
    background-color: blue;
}
.dial{
    /*float:left;*/
    /*margin:0 auto;*/
}

.setMoistureButton{
  margin:10px 0 30px;
}


.graphs{
    /*height:100%;*/
    width:100%;
    min-width: 300px
    padding:25px;
    /*margin*/
    margin:0 auto;
    text-align: center
}
.graph{
  float:left;
  margin:0 25px;
  width:25%;
  min-width: 250px;
}
.home{
  margin-top:25px;
  margin-left: -25px;
}
.weather-embed{
  padding:25px;

}

#logout{
    float:right;
}

.content{
    padding:20px;
    /*width:100%;*/
    margin:0 auto;
    height:100%;
}
#pGnome .content .login {
    width: 350px;
    margin: 45px auto 25px auto;
}

#pGnome .content .login h2 {
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 20px;
}

#pGnome .content .login input {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
    width: 340px;;
}

#pGnome .content .login .signup-form {
    margin-top: 25px;
}

#pGnome .content .login button {
    padding: 5px 10px;
    background: #eee;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 25px;
    font-family: "Helvetica Neue";
}

#pGnome .content .login .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 5px 15px;
    margin-bottom: 15px;
}





.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #2FFF71; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #FF0000; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}





